.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  line-height: 100px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}
/* .submit {
  display: flex;
  float: right;
} */
.title{
  position: relative;
  top: 20px;
  color: white;
}
.list {
  position: relative;
  top: 0px;
  background: #e8e8e8;
  border-radius: 6px;
  max-width: 500px;
  margin: auto;
  width: 90%;
}
.render {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 20px 10px;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 10px;
}
